

.bd-placeholder-img2{
    margin-left: 20px;
 

}

.col-md-4{
  /* width: max-content; */
  /* padding-bottom: 280px; */
  margin-bottom: 90px;
  align-items: center;
  position: relative;
  line-height: 1.8;


}

.textCenterHome{
    margin-top: 50px;
}