

.bd-placeholder-img2{
    margin-left: 20px;

}

.bd-placeholder-img2:hover, #git:hover{
 transform: scale(1.5);
}


.col-md-4{
  /* width: max-content; */
  /* padding-bottom: 280px; */
  margin-bottom: 90px;
  align-items: center;
  position: relative;
  line-height: 1.8;


}

.textCenterHome{
    margin-top: 50px;
}

.what {
  display: block;
  width: 100%;
  margin: 0;
  width: 100%;
  height: auto;
}

body {
  margin-top: 78px;
  width: 100%;
  width: 100%;
}

