.editar{
    background-color: #198754;
    color: white;
    border: none;
    border-radius: 8%;
}

.excluir{
    background-color: #DC3545;
    color: white;
    border: none;
    border-radius: 8%;
}

.centroTeste{
    text-align: center;
    color: #000;
}