.editar{
    background-color: #198754;
    color: white;
    border: none;
    border-radius: 6%;
}

.excluir{
    background-color: #DC3545;
    color: white;
    border: none;
    border-radius: 6%;
}

.modalOpcoes{
    display: flex;
    justify-content: space-around;
    width: 490px;
}

.tdCentro{
    text-align: center;
}